<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new Data</a></p>
    </div>

  
    <div class="row">
      <div class="col-md-12">
        <h1>Latest Mars News</h1>
        <h4 class="heading">{{mars.news_title}}</h4>
        <small>{{mars.news_p}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Featured Mars Image</h1>
        <img src="{{mars.featured_image_url}}" alt=""/>
      </div>
      <div class="col-md-6">
        <h2>Mars Facts</h2>
        <div class= "border"> {{ mars.html_table | safe }}</div>
      </div>
    </div>
    <div class="row">
      <h1>Mars Hemispheres</h1>
      {% for hemisphere in mars.hemisphere_image_urls %} 
        <div class="col-md-3">
          <div>
            <img width="256 px" height="256 px" src="{{ hemisphere.img_url | safe }}">
          </div>

          <div>
            <h4> {{ hemisphere.title | safe }} </h4>  
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>